.contact__card_container {
  background: #7ba9c9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 1em;
}

.button__container {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 0.3em;
  font-weight: bolder;
  font-size: 0.9rem;
  cursor: pointer;
}