.form__container {
  max-width: 420px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5em;
}

.form input {
  margin-bottom: 0.5em;
  width: 90%;
  padding: 0.5em;
}

.form input:focus, .form button:focus {
  outline-color: #7ba9c9;
}

.form button {
  padding: 0.5em;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
}

