.form__container {
  max-width: 420px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5em;
}

.form input {
  margin-bottom: 0.5em;
  width: 90%;
}
