.edit__form_container {
  background: #7ba9c9;
  padding: 1em;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0;
}

.form input {
  margin-bottom: 0.5em;
  width: 90%;
  padding: 0.5em;
}